[submodule "symlink/vim/bundle/ctrlp.vim"]
	path = symlink/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "symlink/vim/bundle/nerdtree"]
	path = symlink/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "symlink/vim/bundle/syntastic"]
	path = symlink/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "symlink/vim/bundle/ultisnips"]
	path = symlink/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "symlink/vim/bundle/vim-snippets"]
	path = symlink/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "symlink/vim/bundle/vim-javascript"]
	path = symlink/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "symlink/vim/bundle/vim-surround"]
	path = symlink/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "symlink/vim/bundle/vim-colors-solarized"]
	path = symlink/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = https://github.com/altercation/solarized.git
[submodule "symlink/vim/bundle/nerdcommenter"]
	path = symlink/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "symlink/vim/bundle/auto-pairs"]
	path = symlink/vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "symlink/vim/bundle/YouCompleteMe"]
	path = symlink/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "symlink/vim/bundle/supertab"]
	path = symlink/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "misc/Gdbinit"]
	path = misc/Gdbinit
	url = https://github.com/gdbinit/Gdbinit.git
