[submodule "symlink/vim/bundle/ctrlp.vim"]
	path = symlink/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "symlink/vim/bundle/nerdtree"]
	path = symlink/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "symlink/vim/bundle/syntastic"]
	path = symlink/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "symlink/vim/bundle/ultisnips"]
	path = symlink/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "symlink/vim/bundle/vim-snippets"]
	path = symlink/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
